# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
instance/
.pytest_cache/

# Databases
*.db
*.sqlite3

# Distribution / packages
dist/
build/
*.egg-info/

# Frontend
.DS_Store
node_modules/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
